*, html, body, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: THSarabunNew;
    src: url('./fonts/THSarabunNew.woff');
    
}
@font-face {
    font-family: THSarabunNew_Bold;
    src: url('./fonts/THSarabunNew_Bold.woff');
}
@font-face {
    font-family: THSarabunNew_BoldItalic;
    src: url('./fonts/THSarabunNew_BoldItalic.woff');
}
@font-face {
    font-family: THSarabunNew_Italic;
    src: url('./fonts/THSarabunNew_Italic.woff');
}
html, body {
    font-family: THSarabunNew;
    height: 100%;
}
#container {
    min-height: 100%;
}
#home {
    overflow: auto;
    padding-bottom: 120px;
}
#footer {
    height: 100px;
    background: #0e0e0e;
    padding: 10px;
    width: 100%;
    position: relative;
    clear: both;
}

#container-icon-facebook {
    margin: 0 5px;
    width: 40px;
    height: 40px;
    line-height: 49px;
    background: transparent;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 20px;
    transition: all .3s ease-in-out;

    &:hover {
        border-radius: 50%;
        background: #4267B2; 
    }
}
#container-icon-github {
    margin: 0 5px;
    width: 40px;
    height: 40px;
    line-height: 49px;
    background: transparent;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 20px;
    transition: all .3s ease-in-out;

    &:hover {
        border-radius: 50%;
        background: rgb(112, 112, 112); 
    }
}
#container-icon-line {
    margin: 0 5px;
    width: 40px;
    height: 40px;
    line-height: 49px;
    background: transparent;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 20px;
    transition: all .3s ease-in-out;

    &:hover {
        border-radius: 50%;
        background: #00B900; 
    }
}

// Loading Section
.container-loading {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    filter: url('#goo');
    animation: rotate-move 2s ease-in-out infinite;
  }
  
  .dot { 
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .dot-3 {
    background-color: #f74d75;
    animation: dot-3-move 2s ease infinite, index 6s ease infinite;
  }
  
  .dot-2 {
    background-color: #10beae;
    animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
  }
  
  .dot-1 {
    background-color: #ffe386;
    animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
  }

#thai-language {
    cursor: pointer;
}
#eng-language {
    cursor: pointer;
}
  
  @keyframes dot-3-move {
    20% {transform: scale(1)}
    45% {transform: translateY(-18px) scale(.45)}
    60% {transform: translateY(-90px) scale(.45)}
    80% {transform: translateY(-90px) scale(.45)}
    100% {transform: translateY(0px) scale(1)}
  }
  
  @keyframes dot-2-move {
    20% {transform: scale(1)}
    45% {transform: translate(-16px, 12px) scale(.45)}
    60% {transform: translate(-80px, 60px) scale(.45)}
    80% {transform: translate(-80px, 60px) scale(.45)}
    100% {transform: translateY(0px) scale(1)}
  }
  
  @keyframes dot-1-move {
    20% {transform: scale(1)}
    45% {transform: translate(16px, 12px) scale(.45)}
    60% {transform: translate(80px, 60px) scale(.45)}
    80% {transform: translate(80px, 60px) scale(.45)}
    100% {transform: translateY(0px) scale(1)}
  }
  
  @keyframes rotate-move {
    55% {transform: translate(-50%, -50%) rotate(0deg)}
    80% {transform: translate(-50%, -50%) rotate(360deg)}
    100% {transform: translate(-50%, -50%) rotate(360deg)}
  }
  
  @keyframes index {
    0%, 100% {z-index: 3}
    33.3% {z-index: 2}
    66.6% {z-index: 1}
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
